body{
    background-color: rgb(10, 10, 10);
    color: rgb(172, 11, 11);
}
h2{
    text-align: center;
    font-size: 3
    0px;
}
.filme{
    text-align: center;
}
.cartaz{
    width: 30%
}
.filme-todos{
    display: grid;
    grid-template-columns: 25% 25% 30% 25%;
}


.containerbotao{
    background-color: rgb(173, 27, 27);
    font-size: 25px;
    border-radius: 40px;
}
.botao{
    text-align: center;
}
    

